/* Login.css */
.login-container {
    background: #9288f1;
    width: 360px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    background-color: #007bff;
  }
  
  .input-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #0056b3;
  }
  
  